<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="..\..\..\Program Files\dotnet\dotnet.exe" arguments="exec &quot;C:\ProjectAspan\XenditApi\XenditDev1.02\bin\Release\netcoreapp2.2\XenditDev1.02.dll&quot;" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
<!--ProjectGuid: fe48ff83-4b19-48e7-b335-7f647f940652-->